@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 20px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.header {
  min-height: 64px;
  text-align: center;
  color: var(--header-color);
  margin: 10rem 0 5rem 0;
}

.header > h1 {
  font-size: 3rem;
}

.header__image {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 3rem;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
