@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #8e2de2;
  --secondary-color: #8e2de2;
  --header-color: #fffafa;
  --header-bg-color: #fffafa;
  --bg-color: #24282f;
  --card-bg-color: #fffafa;
  --font-family: "Nunito", sans-serif;
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--primary-color);
}

body {
  margin: 0;
}

.main {
  padding: 2rem 1.5rem;
}
